[package]
name = "inlyne"
version = "0.2.1"
description = "Introducing Inlyne, a GPU powered yet browsless tool to help you quickly view markdown files in the blink of an eye."
edition = "2021"
authors = ["trimental"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/trimental/inlyne"
homepage = "https://github.com/trimental/inlyne"

[dependencies]
pollster = "0.3.0"
wgpu_glyph =  { git = "https://github.com/sconybeare/wgpu_glyph", branch = "wgpu-0.15" }
winit = "0.28.1"
wgpu = "0.15.1"
bytemuck = "1.13.0"
lyon = "1.0.1"
comrak = { version = "0.16.0", default-features = false, features = ["syntect"] }
open = "3.2.0"
html5ever = "0.26.0"
image = "0.24.5"
clap = { version = "4.1.6", features = ["cargo"] }
copypasta = "0.8.2"
resvg = { version = "0.29.0", features = ["text", "system-fonts", "memmap-fonts"] }
usvg = "0.29.0"
tiny-skia = "0.8.3"
anyhow = "1.0.69"
dirs = "4.0.0"
serde = { version = "1.0.152", features = ["derive"] }
toml = "0.7.2"
ureq = { version = "2.6.2", features = ["native-tls"] }
font-kit = "0.11.0"
memmap2 = "0.5.10"
log = "0.4.17"
env_logger = "0.10.0"
notify = "5.1.0"

# Uncomment for profiling
# [profile.release]
# debug = true
