[workspace]
members = [
    ".",
    "xtask",
]

[package]
name = "inlyne"
version = "0.3.1"
description = "Introducing Inlyne, a GPU powered yet browserless tool to help you quickly view markdown files in the blink of an eye."
edition = "2021"
authors = ["trimental"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/trimental/inlyne"
homepage = "https://github.com/trimental/inlyne"
rust-version = "1.65"

[dependencies]
winit = "0.28.5"
wgpu = "0.16"
bytemuck = { version = "1.13.1", features = [ "derive" ] }
lyon = "1.0.1"
comrak = { version = "0.18.0", default-features = false, features = ["shortcodes", "syntect"] }
open = "4.1.0"
html5ever = "0.26.0"
image = "0.24.6"
clap = { version = "4.2.7", features = ["cargo"] }
copypasta = "0.8.2"
resvg = "0.33.0"
usvg = "0.33.0"
tiny-skia = "0.9.0"
anyhow = "1.0.71"
dirs = "5.0.1"
serde = { version = "1.0.162", features = ["derive"] }
toml = "0.7.3"
reqwest = { version = "0.11.17", features = ["blocking", "json", "stream"] }
memmap2 = "0.6.1"
log = "0.4.17"
env_logger = "0.10.0"
notify = "6.0.0"
clap_complete = "4.2.1"
dark-light = "1.0.0"
# We only decompress our own compressed data, so disable `safe-decode` and
# `checked-decode`
lz4_flex = { version = "0.10.0", default-features = false, features = ["frame", "safe-encode", "std"] }
pollster = "0.3.0"
serde_yaml = "0.9.21"
indexmap = { version = "1.9.3", features = ["serde"] }
html-escape = "0.2.13"
fxhash = "0.2.1"
twox-hash = "1.6.3"
taffy = { git = "https://github.com/DioxusLabs/taffy", rev = "d338f3731da519d182bbc074de46382984ab7c4a" }
syntect = "5.0.0"

[dependencies.glyphon]
version = "0.2"
git = "https://github.com/trimental/glyphon"
rev = "5bf8b6b6aa4a181824798836e1436809e78102e7"

 [profile.release]
 strip = true

# Run `cargo run/build --profile release-debug` to use
 [profile.release-debug]
 inherits = "release"
 strip = false
 debug = true

[profile.release-lto]
inherits = "release"
lto = true

[dev-dependencies]
insta = "1.29.0"
pretty_assertions = "1.3.0"