[package]
name = "inlyne"
version = "0.2.1"
description = "Introducing Inlyne, a GPU powered yet browsless tool to help you quickly view markdown files in the blink of an eye."
edition = "2021"
authors = ["trimental"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/trimental/inlyne"
homepage = "https://github.com/trimental/inlyne"

[dependencies]
pollster = "0.2.5"
wgpu_glyph =  "0.17.0"
winit = "0.26.0"
wgpu = "0.13.1"
bytemuck = "1.11.0"
lyon = "1.0.0"
comrak = { version = "0.14.0", default-features = false, features = ["syntect"] }
open = "3.0.2"
html5ever = "0.26.0"
image = "0.24.3"
clap = { version = "3.2.16", features = ["cargo"] }
copypasta = "0.8.1"
resvg = { version = "0.23.0", features = ["text", "system-fonts", "memmap-fonts"] }
usvg = "0.23.0"
tiny-skia = "0.6.0"
anyhow = "1.0.61"
dirs = "4.0.0"
serde = { version = "1.0.143", features = ["derive"] }
toml = "0.5.9"
ureq = { version = "2.5.0", features = ["native-tls"] }
font-kit = "0.11.0"
memmap2 = "0.5.7"
log = "0.4.17"
env_logger = "0.9.0"
notify = "4.0.17"

# Uncomment for profiling
# [profile.release]
# debug = true
