[package]
name = "inlyne"
version = "0.3.1"
description = "Introducing Inlyne, a GPU powered yet browserless tool to help you quickly view markdown files in the blink of an eye."
edition = "2021"
authors = ["trimental"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/trimental/inlyne"
homepage = "https://github.com/trimental/inlyne"

[dependencies]
wgpu_glyph =  "0.20"
winit = "0.28.5"
wgpu = "0.16"
bytemuck = "1.13.1"
lyon = "1.0.1"
comrak = { version = "0.18.0", default-features = false, features = ["syntect"] }
open = "4.1.0"
html5ever = "0.26.0"
image = "0.24.6"
clap = { version = "4.2.7", features = ["cargo"] }
copypasta = "0.8.2"
resvg = "0.32.0"
usvg = "0.32.0"
tiny-skia = "0.9.0"
anyhow = "1.0.71"
dirs = "5.0.1"
serde = { version = "1.0.162", features = ["derive"] }
toml = "0.7.3"
reqwest = { version = "0.11.17", features = ["blocking", "json", "stream"] }
font-kit = "0.11.0"
memmap2 = "0.5.10"
log = "0.4.17"
env_logger = "0.10.0"
notify = "5.1.0"
clap_complete = "4.2.1"
dark-light = "1.0.0"
# We only decompress our own compressed data, so disable `safe-decode` and
# `checked-decode`
lz4_flex = { version = "0.10.0", default-features = false, features = ["frame", "safe-encode", "std"] }
pollster = "0.3.0"
syntect = "5.1.0"

[profile.release]
strip = true

[dependencies.two-face]
version = "0.1.1"
default-features = false
features = ["extra-syntax"]

[profile.release-lto]
inherits = "release"
strip = true
lto = true

[dev-dependencies]
filetime = "0.2.21"
insta = "1.34.0"
pretty_assertions = "1.3.0"
tempfile = "3.6.0"
wiremock = "0.5.18"
