[package]
name = "inlyne"
version = "0.3.2-alpha"
description = "Introducing Inlyne, a GPU powered yet browserless tool to help you quickly view markdown files in the blink of an eye."
edition = "2021"
authors = ["trimental"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/trimental/inlyne"
homepage = "https://github.com/trimental/inlyne"
rust-version = "1.65"
keywords = ["markdown", "viewer", "gpu"]

[dependencies]
wgpu_glyph =  "0.21"
winit = "0.28.7"
wgpu = "0.17"
bytemuck = "1.14.0"
lyon = "1.0.1"
comrak = { version = "0.19.0", default-features = false, features = ["syntect"] }
open = "5.0.1"
html5ever = "0.26.0"
image = "0.24.7"
clap = { version = "4.3.24", features = ["cargo"] }
copypasta = "0.10.0"
resvg = "0.36"
usvg = "0.36"
tiny-skia = "0.11"
anyhow = "1.0.75"
dirs = "5.0.1"
serde = { version = "1.0.193", features = ["derive"] }
toml = "0.7.6"
reqwest = { version = "0.11.22", features = ["blocking", "json", "stream"] }
font-kit = "0.11.0"
memmap2 = "0.9.0"
log = "0.4.20"
env_logger = "0.10.1"
notify = "6.1.1"
clap_complete = "4.3.2"
dark-light = "1.0.0"
# We only decompress our own compressed data, so disable `safe-decode` and
# `checked-decode`
lz4_flex = { version = "0.11.1", default-features = false, features = ["frame", "safe-encode", "std"] }
pollster = "0.3.0"
smart-debug = "0.0.3"
syntect = "5.1.0"
two-face = "0.3.0"

# Required for WGPU to work properly with Vulkan
fontdb = { version = "0.16.0", features = ["fontconfig"] }
human-panic = "1.2.2"

[profile.release-lto]
inherits = "release"
strip = true
lto = true

[dev-dependencies]
filetime = "0.2.22"
insta = "1.34.0"
pretty_assertions = "1.4.0"
tempfile = "3.8.1"
wiremock = "0.5.21"
