[Desktop Entry]
Name=Inlyne
GenericName=Markdown Viewer
Exec=inlyne view %f
Type=Application
StartupWMClass=inlyne
MimeType=text/markdown;
Categories=Office;Viewer;
Keywords=Markdown;Viewer;
Terminal=false
Comment=a GPU powered, browserless, markdown + html viewer
